body{
    background-color: white;
}

.location {
    text-align: center;
    border: solid 1px black;
    background-color: white;
}

.sidebar{
    position: fixed;
    background-color: lightgray;
    width: 200px;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul a {
    text-decoration: none;
    color: black;
    display: block;
    padding: .25rem .75rem;
}

.content{
    position: relative;
    margin-left: 230px;
}

.content h1{
    border: solid 1px black;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: .5em .75em;
    margin: 2em 0 1em;
}

.content h2:not([class="sectionTitles"]){
    border: solid 1px black;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: .5em .75em;
    margin: 2em 0 1em;
}

.content h3:not([class="sectionTitles"]){
    border: solid 1px black;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: .5em .75em;
    margin: 2em 0 1em;
}

.classes{
    border: inset 1px black;
    padding: 10px 0;
    margin: 10px 0;
}

.enums{
    border: outset 1px black;
    padding: 10px 0;
    margin: 10px 0;
}

.interfaces{
    border: inset 1px grey;
    padding: 10px 0;
    margin: 10px 0;
}

.functions{
    padding: 10px 0;
}
